In [1]:
import pandas as pd

In [2]:
import numpy as np

In [84]:
from sklearn import metrics
from sklearn import cross_validation
from sklearn import tree

/home/deva/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
## taking only  MSL,MSW, FC  labels:

In [6]:
df_labels = pd.read_csv('Dist (3).csv')

In [11]:
labels = ['District_HHD_Cluster_MSL',
 'District_HHD_Cluster_MSW',
 'District_HHD_Cluster_FC']

In [23]:
label = labels[0]

In [41]:
for label in labels:
    categ_list = df_labels[label].unique()
    for i in range(len(cat_list)):
        df_labels[label][df_labels[label] == categ_list[i]] = i

/home/deva/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [81]:
df_labels_final = df_labels[['District']+labels]

In [43]:
df_subDist = pd.read_excel('2012_apr_sub_mail_new.xlsx')

In [62]:
df_subDist_final1 = df_subDist[['censuscode','Sub1']][df_subDist['Sub1'] !=0]

In [63]:
df_subDist_final2 = df_subDist[['censuscode','Sub2']][df_subDist['Sub2'] !=0]

In [67]:
df_subDist_final1.columns = ['censuscode','Sub']

In [68]:
df_subDist_final2.columns = ['censuscode','Sub']

In [144]:
df_subDist_final = pd.concat([df_subDist_final1,df_subDist_final2])

In [145]:
df_subDist_final = pd.concat([df_subDist['censuscode'],pd.get_dummies(df_subDist_final['Sub'])],axis=1,join='inner')

In [82]:
df_labels_final

,District,District_HHD_Cluster_MSL,District_HHD_Cluster_MSW,District_HHD_Cluster_FC
0,1,0,0,0
1,2,0,1,0
2,3,0,0,1
3,4,0,1,0
4,5,0,0,0
5,6,0,0,0
6,7,0,1,0
7,8,0,1,0
8,9,0,1,0
9,10,0,1,1
10,11,0,1,0
11,12,0,1,0
12,13,0,1,0
13,14,0,1,0
14,15,1,1,0
15,16,0,1,0
16,17,1,1,0
17,18,0,1,0
18,19,0,1,0
19,20,1,1,0
20,21,0,1,1
21,22,0,1,1
22,23,0,1,0
23,24,0,1,1
24,25,0,1,0
25,26,0,1,1
26,27,0,1,0
27,28,0,1,0
28,29,0,1,0
29,30,0,1,0
...,...,...,...,...
610,611,0,1,1
611,612,0,1,0
612,613,0,1,1
613,614,0,1,1
614,615,0,1,0
615,616,0,1,0
616,617,0,1,1
617,618,0,1,0
618,619,0,1,0
619,620,0,1,0
620,621,0,1,0
621,622,0,1,0
622,623,0,1,1
623,624,0,1,1
624,625,0,1,1
625,626,0,1,0
626,627,0,1,1
627,628,0,1,1
628,629,0,1,0
629,630,0,1,0
630,631,0,1,0
631,632,0,1,1
632,633,0,1,1
633,634,0,1,1
634,635,0,1,1
635,636,0,0,1
636,637,0,1,1
637,638,0,1,0
638,639,1,1,0
639,640,0,1,1

In [148]:
df_final = df_labels_final.merge(df_subDist_final,left_on='District',right_on='censuscode')
del df_final['censuscode']

In [149]:
X = df_final[labels].values

In [153]:
var = [1,2,3]

In [166]:
df_score = pd.DataFrame(columns=['f1','acc'])
for var_i in var:
    y = df_final[var_i].values
    clf = tree.DecisionTreeClassifier(class_weight='balanced')
    yPred = cross_validation.cross_val_predict(clf,X,y, cv=5)
    
    f1 = metrics.f1_score(y,yPred)
    acc = metrics.accuracy_score(y,yPred)
    
    df_score.loc[str(var_i),:] = [f1,acc]

In [167]:
df_score

         f1       acc
1   0.29798  0.467433
2  0.620579  0.547893
3  0.450331  0.681992

In [121]:
'''
printing f1 score for each label
[f1_1,f1_2,f1_3]
and
accuracy score 
'''

'\nprinting f1 score for each label\n[f1_1,f1_2,f1_3]\nand\naccuracy score \n'

In [122]:
print metrics.f1_score(y,yPred,average=None)
print metrics.accuracy_score(y,yPred)

[ 0.29661017  0.5447619   0.47349823]
0.469348659004

In [123]:
### counting number of 1s',2s' and 3s' in y

In [124]:
from collections import Counter

In [125]:
Counter(y)

Counter({1: 105, 2: 324, 3: 93})