In [225]:
### Import libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.feature_selection import RFE
from sklearn import cross_validation
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
%pylab
from sklearn.pipeline import make_pipeline
from scipy.signal import argrelextrema
import statsmodels.discrete.discrete_model as sm

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [226]:
df_outliers = pd.read_excel('DistrictTypes.xlsx')

In [227]:
df_outliers.head()

     District          State           Type  DistCode
0        Agra  Uttar Pradesh  4. Large City       146
1   Ahmadabad        Gujarat       1. Metro       474
2      Aizawl        Mizoram     3. Capital       283
3       Ajmer      Rajasthan  4. Large City       119
4  Allahabad   Uttar Pradesh  4. Large City       175

In [228]:
snow_id = df_outliers[df_outliers['Type'] == '5. Snow Clad']['DistCode'].values.tolist()

In [229]:
metro = df_outliers[df_outliers['Type'] == '1. Metro']['DistCode'].values.tolist()

In [230]:
### Import Data Files
df_satData = pd.read_csv('distSatellite_withLabels.csv')

In [235]:
df_asset = pd.read_csv('District_HHD_Cluster_Asset_Labels.csv')[['District','District_HHD_Cluster_Asset']]

In [236]:
df_asset

     District District_HHD_Cluster_Asset
0           1     1. Low Asset Ownership
1           2     2. Mod Asset Ownership
2           3     2. Mod Asset Ownership
3           4     1. Low Asset Ownership
4           5     1. Low Asset Ownership
5           6     1. Low Asset Ownership
6           7     2. Mod Asset Ownership
7           8     2. Mod Asset Ownership
8           9     1. Low Asset Ownership
9          10    3. High Asset Ownership
10         11     2. Mod Asset Ownership
11         12     2. Mod Asset Ownership
12         13     2. Mod Asset Ownership
13         14     1. Low Asset Ownership
14         15     2. Mod Asset Ownership
15         16     1. Low Asset Ownership
16         17     1. Low Asset Ownership
17         18     1. Low Asset Ownership
18         19     2. Mod Asset Ownership
19         20     1. Low Asset Ownership
20         21    3. High Asset Ownership
21         22     2. Mod Asset Ownership
22         23     2. Mod Asset Ownership
23         24     2. Mod Asset Ownership
24         25     2. Mod Asset Ownership
25         26     2. Mod Asset Ownership
26         27     2. Mod Asset Ownership
27         28     2. Mod Asset Ownership
28         29     2. Mod Asset Ownership
29         30     2. Mod Asset Ownership
..        ...                        ...
610       611     2. Mod Asset Ownership
611       612     2. Mod Asset Ownership
612       613     2. Mod Asset Ownership
613       614     2. Mod Asset Ownership
614       615     2. Mod Asset Ownership
615       616     2. Mod Asset Ownership
616       617     2. Mod Asset Ownership
617       618     2. Mod Asset Ownership
618       619     2. Mod Asset Ownership
619       620     2. Mod Asset Ownership
620       621     2. Mod Asset Ownership
621       622     2. Mod Asset Ownership
622       623     2. Mod Asset Ownership
623       624     2. Mod Asset Ownership
624       625     2. Mod Asset Ownership
625       626     2. Mod Asset Ownership
626       627     2. Mod Asset Ownership
627       628     2. Mod Asset Ownership
628       629     2. Mod Asset Ownership
629       630     2. Mod Asset Ownership
630       631     2. Mod Asset Ownership
631       632    3. High Asset Ownership
632       633     2. Mod Asset Ownership
633       634     2. Mod Asset Ownership
634       635    3. High Asset Ownership
635       636    3. High Asset Ownership
636       637     2. Mod Asset Ownership
637       638     2. Mod Asset Ownership
638       639     2. Mod Asset Ownership
639       640     2. Mod Asset Ownership

[640 rows x 2 columns]

In [233]:
(df_satData.merge(df_asset[['District','District_HHD_Cluster_Asset']],left_on='101',right_on='District',how='outer'))

,DISTRICT,101,DN_00,DN_01,DN_02,DN_03,DN_04,DN_05,DN_06,DN_07,...,FC_2,FC_3,BF_1,BF_2,BF_3,EMP_1,EMP_2,EMP_3,District,District_HHD_Cluster_Asset
0,Adilabad,532,5237.12,0,0,0.76,1815.67,3332.38,2043.90,1049.05,...,0,0,1,0,0,0,1,0,532,2. Mod Asset Ownership
1,Agra,146,401.66,0,0,0.00,48.54,451.36,620.77,441.57,...,0,1,0,0,1,1,0,0,146,2. Mod Asset Ownership
2,Ahmadabad,474,1517.13,0,0,14.19,1274.94,1784.85,816.68,461.02,...,0,1,0,0,1,0,0,1,474,3. High Asset Ownership
3,Ahmadnagar,522,984.52,0,0,3.12,1756.19,3855.19,2683.53,1989.69,...,0,0,1,0,0,0,1,0,522,2. Mod Asset Ownership
4,Aizawl,283,3412.59,0,0,0.00,49.31,102.02,42.99,27.32,...,0,1,0,0,1,0,0,1,283,3. High Asset Ownership
5,Ajmer,119,3903.05,0,0,1.61,386.31,1286.76,648.55,490.42,...,0,1,0,0,1,0,0,1,119,2. Mod Asset Ownership
6,Akola,501,445.44,0,0,0.00,1088.96,1985.74,948.76,358.79,...,0,0,1,0,0,1,0,0,501,1. Low Asset Ownership
7,Alappuzha,598,0.00,0,0,0.00,17.23,54.85,65.70,89.68,...,0,1,0,1,0,0,0,1,598,2. Mod Asset Ownership
8,Aligarh,143,1382.57,0,0,0.00,104.68,849.94,522.45,248.51,...,1,0,0,0,1,1,0,0,143,2. Mod Asset Ownership
9,Alirajpur,465,3061.12,0,0,0.00,97.97,106.21,19.07,15.27,...,0,0,1,0,0,0,1,0,465,1. Low Asset Ownership
10,Allahabad,175,928.97,0,0,0.00,662.81,1121.60,651.43,431.70,...,0,1,0,0,1,1,0,0,175,2. Mod Asset Ownership
11,Almora,64,1540.91,0,0,0.00,379.88,646.92,250.93,107.66,...,0,0,0,0,1,0,1,0,64,2. Mod Asset Ownership
12,Alwar,104,1282.62,0,0,0.72,42.48,695.10,1067.81,1185.18,...,1,0,1,0,0,0,1,0,104,2. Mod Asset Ownership
13,Ambala,70,0.00,0,0,0.00,0.00,0.05,1.48,5.93,...,0,1,0,0,1,0,0,1,70,3. High Asset Ownership
14,Ambedkar Nagar,178,1017.49,0,0,0.00,232.10,473.55,223.46,102.75,...,1,0,1,0,0,1,0,0,178,2. Mod Asset Ownership
15,Amravati,503,4033.28,0,0,0.75,1958.60,3121.20,1405.54,600.00,...,0,0,0,0,1,1,0,0,503,1. Low Asset Ownership
16,Amreli,480,351.02,0,0,24.32,1920.22,2897.27,1241.68,449.67,...,0,1,0,0,1,1,0,0,480,2. Mod Asset Ownership
17,Amritsar,49,0.00,0,0,0.00,0.00,4.02,17.18,43.15,...,0,1,0,0,1,0,0,1,49,3. High Asset Ownership
18,Anand,482,260.83,0,0,0.92,171.59,205.18,284.33,310.68,...,0,1,0,0,1,1,0,0,482,2. Mod Asset Ownership
19,Anantapur,553,3903.15,0,0,0.00,161.65,4376.92,4647.12,2621.38,...,0,0,1,0,0,0,1,0,553,2. Mod Asset Ownership
20,Anantnag,14,2821.82,0,0,2.83,62.03,90.18,55.93,49.50,...,0,0,1,0,0,1,0,0,14,1. Low Asset Ownership
21,Anjaw,260,6513.01,0,0,0.00,0.00,0.00,0.00,0.00,...,0,0,1,0,0,0,1,0,260,1. Low Asset Ownership
22,Anugul,384,4049.85,0,0,0.00,205.79,612.70,314.16,169.84,...,0,0,1,0,0,1,0,0,384,1. Low Asset Ownership
23,Anuppur,461,2820.34,0,0,0.00,228.24,217.89,76.72,57.31,...,0,0,1,0,0,0,1,0,461,1. Low Asset Ownership
24,Araria,209,2125.10,0,0,0.00,55.46,382.42,102.89,42.98,...,1,0,1,0,0,0,1,0,209,1. Low Asset Ownership
25,Ariyalur,616,0.00,0,0,0.00,0.00,25.55,338.33,578.19,...,0,0,1,0,0,0,1,0,616,2. Mod Asset Ownership
26,Arwal,240,636.01,0,0,0.00,0.00,10.64,4.18,4.05,...,1,0,1,0,0,1,0,0,240,1. Low Asset Ownership
27,Ashoknagar,459,4171.51,0,0,0.00,111.26,170.64,70.87,45.71,...,0,0,1,0,0,1,0,0,459,1. Low Asset Ownership
28,Auraiya,162,1050.78,0,0,0.00,113.51,311.65,180.44,98.01,...,0,0,1,0,0,1,0,0,162,2. Mod Asset Ownership
29,Aurangabad,235,2742.73,0,0,0.00,102.71,222.15,85.08,38.35,...,1,0,1,0,0,1,0,0,235,1. Low Asset Ownership
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,Vadodara,486,1601.02,0,0,0.00,515.86,2296.34,931.56,354.28,...,0,1,0,0,1,0,0,1,486,3. High Asset Ownership
611,Vaishali,220,1186.06,0,0,0.00,5.49,291.71,196.07,100.38,...,1,0,1,0,0,1,0,0,220,1. Low Asset Ownership
612,Valsad,491,475.07,0,0,6.46,514.98,342.55,355.85,283.63,...,0,1,0,0,1,0,0,1,491,2. Mod Asset Ownership
613,Varanasi,197,282.23,0,0,0.00,254.58,338.38,129.11,77.61,...,0,1,0,0,1,0,0,1,197,2. Mod Asset Ownership
614,Vellore,605,481.72,0,0,0.00,333.48,436.47,397.99,560.21,...,0,1,1,0,0,0,0,1,605,2. Mod Asset Ownership
615,Vidisha,443,6190.58,0,0,0.00,114.42,411.82,268.88,114.58,...,0,0,1,0,0,1,0,0,443,1. Low Asset Ownership
616,Viluppuram,607,384.87,0,0,0.00,126.03,182.43,536.39,1283.92,...,0,0,1,0,0,0,1,0,607,2. Mod Asset Ownership
617,Virudunagar,625,315.82,0,0,0.00,442.73,860.10,616.26,465.54,...,0,1,1,0,0,0,0,1,625,2. Mod Asset Ownership
618,Visakhapatnam,544,6826.89,0,0,0.00,301.76,802.23,749.48,530.67,...,0,1,0,0,1,0,0,1,544,2. Mod Asset Ownership
619,Vizianagaram,543,1731.58,0,0,0.00,312.61,1408.09,1012.29,347.80,...,0,0,1,0,0,0,1,0,543,1. Low Asset Ownership
620,Warangal,540,2979.91,0,0,0.00,148.46,1496.81,2058.01,1826.62,...,0,0,0,0,1,0,0,1,540,2. Mod Asset Ownership
621,Wardha,504,1459.22,0,0,0.00,1567.35,1799.62,606.49,239.54,...,0,1,0,0,1,0,1,0,504,2. Mod Asset Ownership
622,Washim,502,642.50,0,0,0.00,1229.84,2040.10,753.90,247.16,...,0,0,1,0,0,0,1,0,502,1. Low Asset Ownership
623,Wayanad,590,671.34,0,0,0.00,189.91,409.21,452.80,204.61,...,0,0,0,0,1,1,0,0,590,2. Mod Asset Ownership
624,West,96,0.00,0,0,0.00,0.00,0.00,0.00,0.00,...,0,1,0,0,1,0,0,1,96,3. High Asset Ownership
625,West,242,909.57,0,0,0.00,50.09,92.32,91.28,30.38,...,0,0,0,0,1,0,1,0,242,1. Low Asset Ownership
626,West Garo Hills,293,3148.93,0,0,0.00,30.21,64.07,28.49,8.33,...,0,0,0,1,0,1,0,0,293,1. Low Asset Ownership
627,West Godavari,546,884.57,0,0,0.00,197.89,762.95,1228.20,1141.31,...,0,1,0,0,1,0,1,0,546,2. Mod Asset Ownership
628,West Kameng,246,5096.52,0,0,0.00,40.15,69.28,42.07,15.87,...,0,1,0,0,1,0,0,1,246,1. Low Asset Ownership
629,West Khasi Hills,296,5051.79,0,0,0.00,23.67,77.26,35.11,17.17,...,0,0,0,1,0,0,1,0,296,1. Low Asset Ownership
630,West Nimar,440,5132.29,0,0,3.83,1211.85,963.67,272.02,113.66,...,1,0,1,0,0,0,1,0,440,1. Low Asset Ownership
631,West Siang,250,7898.61,0,0,0.00,16.38,9.82,5.63,3.95,...,0,0,0,0,1,0,1,0,250,2. Mod Asset Ownership
632,West Tripura,289,492.04,0,0,0.00,300.82,552.59,404.38,302.43,...,0,0,0,1,0,0,0,1,289,2. Mod Asset Ownership
633,Wokha,264,1481.69,0,0,1.53,60.30,34.87,15.70,18.34,...,0,0,0,0,1,0,1,0,264,1. Low Asset Ownership
634,Y.s.r.,551,5327.39,0,0,0.00,407.26,2743.04,2467.63,1459.13,...,0,0,1,0,0,0,0,1,551,2. Mod Asset Ownership
635,Yadgir,580,684.81,0,0,0.00,550.42,1997.03,1193.34,401.52,...,0,0,1,0,0,0,1,0,580,1. Low Asset Ownership
636,Yamunanagar,71,96.41,0,0,0.00,19.41,55.10,73.40,131.88,...,0,1,0,0,1,0,0,1,71,2. Mod Asset Ownership
637,Yanam,634,0.00,0,0,0.00,0.00,0.00,0.00,0.00,...,0,1,0,0,1,0,0,1,634,2. Mod Asset Ownership
638,Yavatmal,510,2629.17,0,0,0.76,3358.80,4894.16,1424.16,393.36,...,0,0,1,0,0,0,1,0,510,1. Low Asset Ownership
639,Zunheboto,263,1169.06,0,0,1.45,71.44,11.77,5.49,0.81,...,0,0,0,1,0,0,1,0,263,1. Low Asset Ownership

In [7]:
df_satData = df_satData[~(df_satData['101'].isin(snow_id+metro))]

In [8]:
### List of labels
lis_labelsAll = ['MSL_1','MSL_2','MSL_3','MSW_1','MSW_2','MSW_3','CHH_1','CHH_2','CHH_3','FC_1','FC_2','FC_3','BF_1','BF_2','BF_3','EMP_1','EMP_2','EMP_3']

### List of useful Labels
lis_labels= ['EMP_1','EMP_2','EMP_3']

In [221]:
df_satData.head()

,DISTRICT,101,DN_00,DN_01,DN_02,DN_03,DN_04,DN_05,DN_06,DN_07,...,qDN_54,qDN_55,qDN_56,qDN_57,qDN_58,qDN_59,qDN_60,qDN_61,qDN_62,qDN_63
0,Adilabad,532,5237.12,0.0,0.0,0.76,1323.701,2468.1055,1706.3435,1049.0500,...,88.55,190.400,235.98,98.02,139.24,142.2,46.36,141.36,47.8800,0.00
1,Agra,146,401.66,0.0,0.0,0.00,48.540,451.3600,620.7700,441.5700,...,328.90,421.568,263.91,485.46,424.21,417.0,418.46,886.60,1399.3875,5115.04
3,Ahmadnagar,522,984.52,0.0,0.0,3.12,1323.701,2468.1055,1706.3435,1087.6415,...,172.15,127.680,274.17,274.92,424.21,233.4,414.19,403.62,922.9500,0.00
4,Aizawl,283,3412.59,0.0,0.0,0.00,49.310,102.0200,42.9900,27.3200,...,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.0000,0.00
5,Ajmer,119,3903.05,0.0,0.0,1.61,386.310,1286.7600,648.5500,490.4200,...,247.50,301.280,408.12,506.05,374.06,361.8,519.72,881.02,921.0600,1331.20

In [10]:
df_satData.shape

(592, 103)

In [11]:
cols = df_satData.columns.tolist()

In [12]:
cols_new = cols[2:cols.index('MSL_1')]

In [13]:
quantile_list = df_satData[cols_new].quantile(0.95).values.tolist()

In [14]:
for i,quantile_val in enumerate(quantile_list):
    df_satData.loc[df_satData[cols_new[i]] > quantile_val,cols_new[i]] = quantile_val

In [15]:
pure_modis_features = cols[cols.index('Water'):cols.index('MSL_1')]

## Building features from night light data

In [16]:
var = []
for i in range(64):
    var.append('DN_' + str(i).zfill(2))

df_satData['Area'] = 0
for i in var:
    df_satData['Area']=df_satData['Area'] + df_satData[i]
df_satData['Area'] = df_satData['Area'].replace(0,1)

for i in var:
    df_satData['p'+i] = (df_satData[i])/(df_satData['Area']*1.0)

for i,j in enumerate(var):
    df_satData['q'+j] = df_satData[j]*(i+1)

var3 = []
for i in var:
    var3.append('p'+i)
for i in var:
    var3.append('q'+i)

## Appling Pca to matrix formed from features of nightlight data

In [17]:
X = df_satData.loc[:,var3].values

In [18]:
X = preprocessing.scale(X)
pca = PCA()
pca.fit(X)

#pca= PCA(svd_solver='full')
#pca.fit(X, y=None )

#The amount of variance that each PC explains
var= pca.explained_variance_ratio_

#Cumulative Variance explains
var1=np.cumsum(np.round(pca.explained_variance_ratio_, decimals=4)*100)
print(var1)

#Number of PC comprising 95%Variance
n = len(var1)-len([num for num in var1 if num != 0 and num > 85.0])+1
print( "n: 95% Variance: ",n)

[ 43.44  61.91  69.68  73.81  77.19  79.52  81.53  83.45  85.03  86.3
  87.43  88.44  89.21  89.94  90.52  91.05  91.54  92.02  92.41  92.76
  93.08  93.38  93.66  93.92  94.16  94.4   94.63  94.85  95.07  95.27
  95.47  95.66  95.84  96.02  96.19  96.36  96.52  96.68  96.83  96.98
  97.12  97.26  97.39  97.52  97.64  97.76  97.87  97.98  98.08  98.18
  98.28  98.38  98.47  98.56  98.64  98.72  98.8   98.87  98.94  99.01
  99.07  99.13  99.19  99.25  99.3   99.35  99.4   99.45  99.49  99.53
  99.57  99.6   99.63  99.66  99.69  99.71  99.73  99.75  99.77  99.79
  99.81  99.82  99.83  99.84  99.85  99.86  99.87  99.88  99.89  99.9
  99.91  99.92  99.93  99.94  99.95  99.96  99.97  99.97  99.97  99.97
  99.97  99.97  99.97  99.97  99.97  99.97  99.97  99.97  99.97  99.97
  99.97  99.97  99.97  99.97  99.97  99.97  99.97  99.97  99.97  99.97
  99.97  99.97  99.97  99.97  99.97  99.97  99.97  99.97]
('n: 95% Variance: ', 9)

In [19]:
### PCA fit
X=pca.fit_transform(X)
X=X[:,0:n]

In [20]:
n

9

In [21]:
## creating variance table

In [22]:
df_pcaComp = pd.DataFrame(pca.components_)

In [23]:
pca_idx = ['PCA_'+str(i) for i in range(len(df_pcaComp))]

In [24]:
df_pcaComp.index = pca_idx

In [25]:
df_pcaComp.columns = var3

In [201]:
abs(df_pcaComp[column][:10])/abs(df_pcaComp[:10]).sum(axis=1)

PCA_0    0.007115
PCA_1    0.003367
PCA_2    0.014193
PCA_3    0.007086
PCA_4    0.011504
PCA_5    0.009548
PCA_6    0.004924
PCA_7    0.012804
PCA_8    0.017946
PCA_9    0.010711
dtype: float64

In [202]:
bins_pcaVar = [[0]*10]*7

for column in df_pcaComp:
    bins_pcaVar[(int(column[4:])/10)] += (abs(df_pcaComp[column][:10])/abs(df_pcaComp[:10]).sum(axis=1))

bins_pcaVar[5] += bins_pcaVar[6]

In [203]:
df_bins_pcaVar = pd.DataFrame(bins_pcaVar[:6]).T

In [204]:
df_bins_pcaVar.columns = ['L1','L2','M1','M2','H1','H2']

In [205]:
df_bins_pcaVar

             L1        L2        M1        M2        H1        H2
PCA_0  0.069622  0.182638  0.184764  0.185235  0.168014  0.209727
PCA_1  0.115357  0.118185  0.153546  0.194123  0.184449  0.234339
PCA_2  0.131567  0.287893  0.123489  0.084085  0.107570  0.265397
PCA_3  0.245433  0.173860  0.095888  0.085031  0.114483  0.285305
PCA_4  0.278308  0.154732  0.095628  0.121288  0.113258  0.236787
PCA_5  0.122906  0.132008  0.261625  0.157568  0.111595  0.214298
PCA_6  0.178404  0.122809  0.202930  0.131865  0.216273  0.147720
PCA_7  0.357670  0.173657  0.133177  0.058327  0.081393  0.195776
PCA_8  0.214938  0.154443  0.158474  0.150712  0.102664  0.218769
PCA_9  0.240271  0.193651  0.179624  0.082451  0.149666  0.154337

In [206]:
df_newVarTable = pd.DataFrame(columns=['0','1','2','3','4','5'])

for i in range(10):
    temp = df_bins_pcaVar[i:i+1].sort_values(by=pca_idx[i],axis=1,ascending=False)
    temp_cols = temp.columns.tolist()
    temp_vals = np.round(temp.values[0],2).tolist()
    new_row = [str(temp_vals[j])+','+temp_cols[j] for j in range(len(temp_cols))]
    df_newVarTable.loc[pca_idx[i],:] = new_row

In [209]:
df_newVarTable.to_csv('newVarTable.csv')

In [ ]:
temp2 = []
for i in range(n):
    temp = df_pcaComp[i:i+1]
    temp_sorted = temp.sort_values(by=pca_idx[i],axis=1)
    cols = temp_sorted.columns.tolist()
    #temp_sorted[cols[:3]+cols[-3:]]
    temp3 = temp_sorted[cols[:3]+cols[-3:]]
    temp2.append(temp3.columns.tolist())
    temp2.append(temp3.values.tolist()[0])
    temp2.append([float('NaN')]*6)
    df_temp2 = pd.DataFrame(temp2)

In [ ]:
df_temp2.to_csv('variance_table.csv')

In [ ]:
### Creating Dataframe of PCA
col_X = []
for j in range(n):
    col_X.append('PCA_'+str(j))
df_pcaNTL = pd.DataFrame(X,columns=col_X)

In [ ]:
df_pcaNTL['101'] = df_satData['101'].values.tolist()

In [ ]:
df_pcaNTL.head()

## Building features out of Modis Data

In [ ]:
df_satData['Urban and built-up']=df_satData['Urban and built-up']+1
df_satData['CropRatio']=(df_satData['Croplands']+df_satData['Cropland/Natural vegetation mosaic'])/df_satData['Area']
df_satData['AvgUrbanNTL']=df_satData['sum']/df_satData['Urban and built-up']
df_satData['UrbanRatio']= df_satData['Urban and built-up']/df_satData['Area']

df_satData['Natural']= 0
for i in ['Water','Evergreen Needleleaf forest','Evergreen Broadleaf forest','Deciduous Needleleaf forest','Deciduous Broadleaf forest','Mixed forest','Closed shrublands','Open shrublands','Woody savannas','Savannas','Grasslands','Permanent wetlands','Snow and ice']:
    df_satData['Natural']=df_satData['Natural']+df_satData[i]
    
df_satData['CropRemainRatio']=(df_satData['Croplands']+df_satData['Cropland/Natural vegetation mosaic'])/(df_satData['Area']-df_satData['Natural'])
df_satData['UrbanRemainRatio']=df_satData['Urban and built-up']/(df_satData['Area']-df_satData['Natural'])
#df_satData['UrbanRatio']=df_satData['UrbanRatio'].fillna(0)


forest =['Evergreen Broadleaf forest','Deciduous Broadleaf forest','Mixed forest']
df_satData['forest'] = df_satData[forest].sum(axis=1)

grass_shrubs =['Closed shrublands','Open shrublands','Woody savannas','Savannas','Grasslands']
df_satData['grass_shrubs'] = df_satData[grass_shrubs].sum(axis=1)

In [ ]:
modi_area = df_satData[pure_modis_features].sum(axis=1).values.tolist()

In [ ]:
left_area = [df_satData['Area'].values.tolist()[i]-modi_area[i] for i in range(len(df_satData))]

In [ ]:
df_satData['left_area'] = left_area

In [ ]:
modi_var = []
modi_var=['mean','sum','CropRatio', 'AvgUrbanNTL', 'UrbanRatio', 'CropRemainRatio', 'UrbanRemainRatio','Natural']
for i in ['Croplands',
 'Urban and built-up',
 'Cropland/Natural vegetation mosaic',
 'forest',
 'grass_shrubs']:
    df_satData['mod_'+i]=df_satData[i]/df_satData['Area']
    modi_var.append('mod_'+i)
    modi_var.append(i)
modi_var.append('left_area')

## final dataframe from pca version of nl and modi

In [ ]:
df_modi_nlPca =  pd.merge(df_satData[['101']+modi_var],df_pcaNTL,left_on='101',right_on='101',how='inner')

In [ ]:
df_modi_nlPca.shape

In [ ]:
var = df_modi_nlPca.columns.tolist()[1:]

## finding feature ranking for a particular label

In [ ]:
def featureRank(label):
    model = LogisticRegression()
    selector = RFE(model,1, step=1)

    X = df_modi_nlPca[var].values
    X = preprocessing.scale(X)

    y = df_satData.loc[:,label].values

    selector.fit(X,y)

    selectedIdx = selector.get_support(indices=True)

    featureRanking = selector.ranking_

    ranked_var = pd.DataFrame(featureRanking,var)
    ranked_var = ranked_var.reset_index()
    ranked_var.columns = (['var','rank'])
    ranked_var = ranked_var.sort_values('rank')
    ranked_var.reset_index(inplace=True)
    del ranked_var['index']
    
    return ranked_var

## selecting features to maximize f1_score
#### Assumption: Set of first n features in feature ranking will produce maximum f1_score compared to any other set of n features.

In [ ]:
def selectFeatures(ranked_var,label):
    metric_list = list()
    f1_list = list()
    for i in range(len(ranked_var)):
        var2 = ranked_var.loc[:i,'var'].values.tolist()

        X = df_modi_nlPca.loc[:,var2].values
        y = df_satData.loc[:,label].values

        model = LogisticRegression(class_weight='balanced')
        clf = make_pipeline(preprocessing.StandardScaler(),model)
        predicted = cross_validation.cross_val_predict(clf,X,y, cv=5)

        acc = metrics.accuracy_score(y,predicted)
        recall = metrics.recall_score(y,predicted)
        prec =  metrics.precision_score(y,predicted)

        cm = metrics.confusion_matrix(y, predicted)
        cm_score = float(cm[1][1])/(cm[1][1]+cm[1][0]+cm[0][1])

        f1 = metrics.f1_score(y,predicted)

        metric_list.append([f1,cm_score,acc,recall,prec])
        f1_list.append(f1)

    df_metric = pd.DataFrame(metric_list)
    df_metric.columns =  (['f1','cm','acc','recall','prec'])

    ## finding the global maximum index in f1_list
    global_maxima = f1_list.index(max(f1_list))

    ## plotting f1_score with features selected
    #figure()
    #plt.grid()
    #plt.plot(f1_list)
    #plt.title(label)
    #plt.xlabel('number of variables')
    #plt.ylabel('f1_score')
    
    ## findi  ng indexes of all local maximums

    x = array(f1_list)
    # for local maxima
    local_maxima = argrelextrema(x, np.greater)[0].tolist()

    f1_acceptable = f1_list[global_maxima]-0.01

    i = 0
    while f1_list[i] < f1_acceptable:
        i += 1

    var_final = ranked_var.loc[:i,'var']

    X = df_modi_nlPca.loc[:,var_final].values
    y = df_satData.loc[:,label].values

    model = LogisticRegression()

    fit = model.fit(X,y)

    df_selecedVar = ranked_var.loc[:i].copy(deep=True)
    df_selecedVar.insert(2,'coeff',fit.coef_[0])

    return [df_selecedVar,f1_list[i],df_metric[i:i+1]]

In [ ]:
select_feature = []
score_metric = []
for label in lis_labelsAll:
    ranked_var = featureRank(label)
    feature_and_score = selectFeatures(ranked_var,label)
    select_feature.append(feature_and_score)
    score_metric.append(feature_and_score[2].values[0])

In [ ]:
df_scoreMetric = pd.DataFrame(score_metric,columns = ['f1','cm','acc','recall','prec'], index=lis_labelsAll)

In [ ]:
#df_scoreMetric.to_csv('scoreMetric_pcaModi.csv')

In [ ]:
df_scoreMetric.sort_values(by='f1',ascending=False)

In [ ]:
select_feature[0][0]

In [ ]:
## adding pvalues.... to the list of featues.

In [ ]:
X = df_modi_nlPca.copy(deep=True)
X.insert(1,'intercept',1.0)
cols = X.columns.tolist()

In [ ]:
modi_cols = cols[1:cols.index('PCA_0')]
pca_cols = ['intercept'] + cols[cols.index('PCA_0'):]

In [ ]:
def find_summary(cols,label):
    X1 = X[cols].values
    y = df_satData.loc[:,label].values

    model = sm.Logit(y,X1)
    result = model.fit()
    summary = result.summary()

    df_summary = pd.DataFrame(result.params,result.pvalues)
    df_summary.reset_index(inplace=True)
    df_summary.index = cols
    df_summary.columns = ['pvals','param']
    
    return df_summary

In [ ]:
selectedFeatures_pval = []
for i,label in enumerate(lis_labelsAll):
    df_temp = select_feature[i][0].copy(deep=True)
    df_temp.index = df_temp['var']
    del df_temp['var']
    df_summary = pd.concat([find_summary(modi_cols,label),find_summary(pca_cols,label)])
    df_temp2 = pd.concat([df_temp,df_summary],axis=1,join_axes=[df_temp.index])
    selectedFeatures_pval.append(df_temp2)

In [ ]:
label = 'BF_1'
selectedFeatures_pval[lis_labelsAll.index(label)]