In [1]:
### Import libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.feature_selection import RFE
from sklearn import cross_validation
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
%pylab
from sklearn.pipeline import make_pipeline
from scipy.signal import argrelextrema
import statsmodels.discrete.discrete_model as sm

/home/deva/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [2]:
df_outliers = pd.read_excel('DistrictTypes.xlsx')

In [3]:
df_outliers

,District,State,Type,DistCode
0,Agra,Uttar Pradesh,4. Large City,146
1,Ahmadabad,Gujarat,1. Metro,474
2,Aizawl,Mizoram,3. Capital,283
3,Ajmer,Rajasthan,4. Large City,119
4,Allahabad,Uttar Pradesh,4. Large City,175
5,Almora\n,Uttaranchal,5. Snow Clad,64
6,Ambala,Haryana,4. Large City,70
7,Amritsar,Punjab,4. Large City,49
8,Anantapur,Andhra Pradesh,4. Large City,553
9,Anantnag,Jammu & Kashmir,5. Snow Clad,14
10,North & Middle Andaman,Andaman & Nicobar Islands,3. Capital,639
11,Bageshwar,Uttaranchal,5. Snow Clad,63
12,Bangalore,Karnataka,1. Metro,572
13,Bangalore,Karnataka,3. Capital,572
14,Baramula,Jammu & Kashmir,5. Snow Clad,8
15,Barddhaman,West Bengal,4. Large City,335
16,Bareilly,Uttar Pradesh,4. Large City,150
17,Bathinda,Punjab,4. Large City,46
18,Belgaum,Karnataka,4. Large City,555
19,Bhavnagar,Gujarat,4. Large City,481
20,Bhopal,Madhya Pradesh,3. Capital,444
21,Bikaner,Rajasthan,4. Large City,101
22,Bokaro,Jharkhand,4. Large City,355
23,Chamba,Himachal Pradesh,5. Snow Clad,23
24,Chamoli,Uttaranchal,5. Snow Clad,57
25,Champawat,Uttaranchal,5. Snow Clad,65
26,Chandigarh,Chandigarh,2. SubMetro,55
27,Chandigarh,Chandigarh,3. Capital,55
28,Chennai,Tamil Nadu,1. Metro,603
29,Chennai,Tamil Nadu,3. Capital,603
...,...,...,...,...
130,Shimla,Himachal Pradesh,3. Capital,33
131,Sirmaur,Himachal Pradesh,5. Snow Clad,32
132,Solan,Himachal Pradesh,5. Snow Clad,31
133,Solapur,Maharashtra,4. Large City,526
134,South Twenty Four Parganas,West Bengal,2. SubMetro,343
135,South District,Sikkim,5. Snow Clad,243
136,South Tripura,Tripura,5. Snow Clad,290
137,Srinagar,Jammu & Kashmir,5. Snow Clad,10
138,Srinagar,Jammu & Kashmir,3. Capital,10
139,Sundargarh,Orissa,4. Large City,374
140,Surat,Gujarat,2. SubMetro,492
141,Tawang,Arunachal Pradesh,5. Snow Clad,245
142,Tehri Garhwal,Uttaranchal,5. Snow Clad,59
143,Thane,Maharashtra,2. SubMetro,517
144,Thanjavur,Tamil Nadu,4. Large City,620
145,Thiruvallur,Tamil Nadu,4. Large City,602
146,Thiruvananthapuram,Kerala,3. Capital,601
147,Thrissur,Kerala,4. Large City,594
148,Tiruchirappalli,Tamil Nadu,4. Large City,614
149,Udaipur,Rajasthan,4. Large City,130
150,Udhampur,Jammu & Kashmir,5. Snow Clad,19
151,Uttarkashi,Uttaranchal,5. Snow Clad,56
152,Vadodara,Gujarat,4. Large City,486
153,Varanasi,Uttar Pradesh,4. Large City,197
154,Vellore,Tamil Nadu,4. Large City,605
155,Visakhapatnam,Andhra Pradesh,2. SubMetro,544
156,West District,Sikkim,5. Snow Clad,242
157,West Tripura,Tripura,3. Capital,289
158,West Tripura,Tripura,5. Snow Clad,289
159,Purba Medinipur,WEST BENGAL,4. Large City,345

In [4]:
snow_id = df_outliers[df_outliers['Type'] == '5. Snow Clad']['DistCode'].values.tolist()

In [5]:
metro = df_outliers[df_outliers['Type'] == '1. Metro']['DistCode'].values.tolist()

In [6]:
### Import Data Files
df_satData = pd.read_csv('distSatellite_withLabels.csv')

In [7]:
df_satData = df_satData[~(df_satData['101'].isin(snow_id+metro))]

In [8]:
### List of labels
lis_labelsAll = ['MSL_1','MSL_2','MSL_3','MSW_1','MSW_2','MSW_3','CHH_1','CHH_2','CHH_3','FC_1','FC_2','FC_3','BF_1','BF_2','BF_3','EMP_1','EMP_2','EMP_3']

### List of useful Labels
lis_labels= ['EMP_1','EMP_2','EMP_3']

In [9]:
df_satData.head()

,DISTRICT,101,DN_00,DN_01,DN_02,DN_03,DN_04,DN_05,DN_06,DN_07,...,CHH_3,FC_1,FC_2,FC_3,BF_1,BF_2,BF_3,EMP_1,EMP_2,EMP_3
0,Adilabad,532,5237.12,0,0,0.76,1815.67,3332.38,2043.90,1049.05,...,0,1,0,0,1,0,0,0,1,0
1,Agra,146,401.66,0,0,0.00,48.54,451.36,620.77,441.57,...,0,0,0,1,0,0,1,1,0,0
3,Ahmadnagar,522,984.52,0,0,3.12,1756.19,3855.19,2683.53,1989.69,...,0,1,0,0,1,0,0,0,1,0
4,Aizawl,283,3412.59,0,0,0.00,49.31,102.02,42.99,27.32,...,0,0,0,1,0,0,1,0,0,1
5,Ajmer,119,3903.05,0,0,1.61,386.31,1286.76,648.55,490.42,...,0,0,0,1,0,0,1,0,0,1

In [10]:
df_satData.shape

(592, 103)

## Building features from night light data

In [11]:
var = []
for i in range(64):
    var.append('DN_' + str(i).zfill(2))

df_satData['Area'] = 0
for i in var:
    df_satData['Area']=df_satData['Area'] + df_satData[i]
df_satData['Area'] = df_satData['Area'].replace(0,1)

for i in var:
    df_satData['p'+i] = (df_satData[i])/(df_satData['Area']*1.0)

for i,j in enumerate(var):
    df_satData['q'+j] = df_satData[j]*(i+1)

var3 = []
for i in var:
    var3.append('p'+i)
for i in var:
    var3.append('q'+i)

## Appling Pca to matrix formed from features of nightlight data

In [12]:
X = df_satData.loc[:,var3].values

In [13]:
X = preprocessing.scale(X)
pca = PCA()
pca.fit(X)

#pca= PCA(svd_solver='full')
#pca.fit(X, y=None )

#The amount of variance that each PC explains
var= pca.explained_variance_ratio_

#Cumulative Variance explains
var1=np.cumsum(np.round(pca.explained_variance_ratio_, decimals=4)*100)
print(var1)

#Number of PC comprising 95%Variance
n = len(var1)-len([num for num in var1 if num != 0 and num > 85.0])+1
print( "n: 95% Variance: ",n)

[ 42.48  59.5   67.93  72.41  75.87  78.24  80.5   82.58  84.22  85.56
  86.81  87.91  88.78  89.56  90.26  90.84  91.33  91.81  92.22  92.61
  92.97  93.31  93.63  93.92  94.19  94.45  94.69  94.91  95.13  95.33
  95.53  95.72  95.9   96.08  96.25  96.42  96.58  96.74  96.88  97.02
  97.15  97.28  97.41  97.53  97.65  97.76  97.87  97.98  98.08  98.18
  98.28  98.37  98.46  98.54  98.62  98.69  98.76  98.83  98.9   98.97
  99.03  99.09  99.15  99.21  99.26  99.31  99.36  99.4   99.44  99.48
  99.52  99.55  99.58  99.61  99.64  99.67  99.69  99.71  99.73  99.75
  99.77  99.78  99.79  99.8   99.81  99.82  99.83  99.84  99.85  99.86
  99.87  99.88  99.89  99.9   99.91  99.92  99.93  99.94  99.95  99.95
  99.95  99.95  99.95  99.95  99.95  99.95  99.95  99.95  99.95  99.95
  99.95  99.95  99.95  99.95  99.95  99.95  99.95  99.95  99.95  99.95
  99.95  99.95  99.95  99.95  99.95  99.95  99.95  99.95]
('n: 95% Variance: ', 10)

In [14]:
### PCA fit
X=pca.fit_transform(X)
X=X[:,0:n]

In [15]:
n

10

In [24]:
## creating variance table

In [16]:
df_pcaComp = pd.DataFrame(pca.components_)

In [17]:
pca_idx = ['PCA_'+str(i) for i in range(len(df_pcaComp))]

In [18]:
df_pcaComp.index = pca_idx

In [19]:
df_pcaComp.columns = var3

In [20]:
temp2 = []
for i in range(n):
    temp = df_pcaComp[i:i+1]
    temp_sorted = temp.sort_values(by=pca_idx[i],axis=1)
    cols = temp_sorted.columns.tolist()
    #temp_sorted[cols[:3]+cols[-3:]]
    temp3 = temp_sorted[cols[:3]+cols[-3:]]
    temp2.append(temp3.columns.tolist())
    temp2.append(temp3.values.tolist()[0])
    temp2.append([float('NaN')]*6)
    df_temp2 = pd.DataFrame(temp2)

In [ ]:
df_temp2.to_csv('variance_table.csv')

In [22]:
### Creating Dataframe of PCA
col_X = []
for j in range(n):
    col_X.append('PCA_'+str(j))
df_pcaNTL = pd.DataFrame(X,columns=col_X)

In [ ]:
df_pcaNTL['101'] = df_satData['101'].values.tolist()

In [ ]:
df_pcaNTL.head()

## Building features out of Modis Data

In [ ]:
df_satData['Urban and built-up']=df_satData['Urban and built-up']+1
df_satData['CropRatio']=(df_satData['Croplands']+df_satData['Cropland/Natural vegetation mosaic'])/df_satData['Area']
df_satData['AvgUrbanNTL']=df_satData['sum']/df_satData['Urban and built-up']
df_satData['UrbanRatio']= df_satData['Urban and built-up']/df_satData['Area']

df_satData['Natural']= 0
for i in ['Water','Evergreen Needleleaf forest','Evergreen Broadleaf forest','Deciduous Needleleaf forest','Deciduous Broadleaf forest','Mixed forest','Closed shrublands','Open shrublands','Woody savannas','Savannas','Grasslands','Permanent wetlands','Snow and ice']:
    df_satData['Natural']=df_satData['Natural']+df_satData[i]
    
df_satData['CropRemainRatio']=(df_satData['Croplands']+df_satData['Cropland/Natural vegetation mosaic'])/(df_satData['Area']-df_satData['Natural'])
df_satData['UrbanRemainRatio']=df_satData['Urban and built-up']/(df_satData['Area']-df_satData['Natural'])
#df_satData['UrbanRatio']=df_satData['UrbanRatio'].fillna(0)


forest =['Evergreen Broadleaf forest','Deciduous Broadleaf forest','Mixed forest']
df_satData['forest'] = df_satData[forest].sum(axis=1)

grass_shrubs =['Closed shrublands','Open shrublands','Woody savannas','Savannas','Grasslands']
df_satData['grass_shrubs'] = df_satData[grass_shrubs].sum(axis=1)

In [ ]:
modi_var = []
modi_var=['mean','sum','CropRatio', 'AvgUrbanNTL', 'UrbanRatio', 'CropRemainRatio', 'UrbanRemainRatio','Natural']
for i in ['Croplands',
 'Urban and built-up',
 'Cropland/Natural vegetation mosaic',
 'forest',
 'grass_shrubs']:
    df_satData['mod_'+i]=df_satData[i]/df_satData['Area']
    modi_var.append('mod_'+i)
    modi_var.append(i)

## final dataframe from pca version of nl and modi

In [ ]:
df_modi_nlPca =  pd.merge(df_satData[['101']+modi_var],df_pcaNTL,left_on='101',right_on='101',how='inner')

In [ ]:
df_modi_nlPca.shape

In [ ]:
var = df_modi_nlPca.columns.tolist()[1:]

## finding feature ranking for a particular label

In [ ]:
def featureRank(label):
    model = LogisticRegression()
    selector = RFE(model,1, step=1)

    X = df_modi_nlPca[var].values
    X = preprocessing.scale(X)

    y = df_satData.loc[:,label].values

    selector.fit(X,y)

    selectedIdx = selector.get_support(indices=True)

    featureRanking = selector.ranking_

    ranked_var = pd.DataFrame(featureRanking,var)
    ranked_var = ranked_var.reset_index()
    ranked_var.columns = (['var','rank'])
    ranked_var = ranked_var.sort_values('rank')
    ranked_var.reset_index(inplace=True)
    del ranked_var['index']
    
    return ranked_var

## selecting features to maximize f1_score
#### Assumption: Set of first n features in feature ranking will produce maximum f1_score compared to any other set of n features.

In [ ]:
def selectFeatures(ranked_var,label):
    metric_list = list()
    f1_list = list()
    for i in range(len(ranked_var)):
        var2 = ranked_var.loc[:i,'var'].values.tolist()

        X = df_modi_nlPca.loc[:,var2].values
        y = df_satData.loc[:,label].values

        model = LogisticRegression(class_weight='balanced')
        clf = make_pipeline(preprocessing.StandardScaler(),model)
        predicted = cross_validation.cross_val_predict(clf,X,y, cv=5)

        acc = metrics.accuracy_score(y,predicted)
        recall = metrics.recall_score(y,predicted)
        prec =  metrics.precision_score(y,predicted)

        cm = metrics.confusion_matrix(y, predicted)
        cm_score = float(cm[1][1])/(cm[1][1]+cm[1][0]+cm[0][1])

        f1 = metrics.f1_score(y,predicted)

        metric_list.append([f1,cm_score,acc,recall,prec])
        f1_list.append(f1)

    df_metric = pd.DataFrame(metric_list)
    df_metric.columns =  (['f1','cm','acc','recall','prec'])

    ## finding the global maximum index in f1_list
    global_maxima = f1_list.index(max(f1_list))

    ## plotting f1_score with features selected
    #figure()
    #plt.grid()
    #plt.plot(f1_list)
    #plt.title(label)
    #plt.xlabel('number of variables')
    #plt.ylabel('f1_score')
    
    ## findi  ng indexes of all local maximums

    x = array(f1_list)
    # for local maxima
    local_maxima = argrelextrema(x, np.greater)[0].tolist()

    f1_acceptable = f1_list[global_maxima]-0.01

    i = 0
    while f1_list[i] < f1_acceptable:
        i += 1

    var_final = ranked_var.loc[:i,'var']

    X = df_modi_nlPca.loc[:,var_final].values
    y = df_satData.loc[:,label].values

    model = LogisticRegression()

    fit = model.fit(X,y)

    df_selecedVar = ranked_var.loc[:i].copy(deep=True)
    df_selecedVar.insert(2,'coeff',fit.coef_[0])

    return [df_selecedVar,f1_list[i],df_metric[i:i+1]]

In [ ]:
select_feature = []
score_metric = []
for label in lis_labelsAll:
    ranked_var = featureRank(label)
    feature_and_score = selectFeatures(ranked_var,label)
    select_feature.append(feature_and_score)
    score_metric.append(feature_and_score[2].values[0])

In [ ]:
df_scoreMetric = pd.DataFrame(score_metric,columns = ['f1','cm','acc','recall','prec'], index=lis_labelsAll)

In [ ]:
df_scoreMetric.to_csv('scoreMetric_pcaModi.csv')

In [ ]:
df_scoreMetric.sort_values(by='f1',ascending=False)

In [ ]:
select_feature[0][0]

In [ ]:
## adding pvalues.... to the list of featues.

In [ ]:
X = df_modi_nlPca.copy(deep=True)
X.insert(1,'intercept',1.0)
cols = X.columns.tolist()

In [ ]:
modi_cols = cols[1:cols.index('PCA_0')]
pca_cols = ['intercept'] + cols[cols.index('PCA_0'):]

In [ ]:
def find_summary(cols,label):
    X1 = X[cols].values
    y = df_satData.loc[:,label].values

    model = sm.Logit(y,X1)
    result = model.fit()
    summary = result.summary()

    df_summary = pd.DataFrame(result.params,result.pvalues)
    df_summary.reset_index(inplace=True)
    df_summary.index = cols
    df_summary.columns = ['pvals','param']
    
    return df_summary

In [ ]:
selectedFeatures_pval = []
for i,label in enumerate(lis_labelsAll):
    df_temp = select_feature[i][0].copy(deep=True)
    df_temp.index = df_temp['var']
    del df_temp['var']
    df_summary = pd.concat([find_summary(modi_cols,label),find_summary(pca_cols,label)])
    df_temp2 = pd.concat([df_temp,df_summary],axis=1,join_axes=[df_temp.index])
    selectedFeatures_pval.append(df_temp2)

In [ ]:
label = 'BF_1'
selectedFeatures_pval[lis_labelsAll.index(label)]