In [236]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [237]:
import datetime as dt

In [238]:
anom_sd1 = pd.read_excel('Anom_SD1.xlsx')

In [239]:
anom_sd1.head()

,Pkey,128,1509,2627,315,2108,527,1132,1209,4823,...,Unnamed: 2308,Unnamed: 2309,Unnamed: 2310,Unnamed: 2311,Unnamed: 2312,Unnamed: 2313,Unnamed: 2314,Unnamed: 2315,Unnamed: 2316,Unnamed: 2317
0,DISTRICT,Adilabad,Agra,Ahmadnagar,Aizawl,Ajmer,Akola,Alappuzha,Aligarh,Alirajpur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DT_CEN_CD,1,15,26,3,21,5,11,12,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ST_CEN_CD,28,9,27,15,8,27,32,9,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ST_NM,Andhra Pradesh,Uttar Pradesh,Maharashtra,Mizoram,Rajasthan,Maharashtra,Kerala,Uttar Pradesh,Madhya Pradesh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Label,NaN,Large City,NaN,NaN,Large City,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [240]:
cols = anom_sd1.columns.tolist()

In [241]:
raw = anom_sd1[cols[:cols.index( u'MA(TS-MA)')]]

In [242]:
raw.columns = raw[0:1].values.tolist()

In [243]:
raw = raw[1:]

In [244]:
raw_cols = raw.columns.tolist()

In [466]:
dist = 'Ujjain'

In [467]:
dist in raw_cols

True

In [468]:
month = 5

In [469]:
year = 2016

In [470]:
## for dist
f_name =  str(dist)+'_'+str(month)+'_'+str(year)

In [471]:
title = 'Kumbh Mela _ '+ f_name

In [472]:
file_name = f_name +'.png'

In [473]:
time_line = raw['DISTRICT'][5:-1].values.tolist()

In [474]:
ntl_values = raw[dist][5:-1].values.tolist()

In [475]:
np.shape(ntl_values)

(60,)

In [476]:
np.shape(time_line)

(60,)

In [477]:
month_name = ['0','jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']

In [478]:
A = range(len(time_line))
B = ntl_values

In [479]:
plt.close()

In [480]:
plt.plot(A,B)
plt.plot(A,B,'ko')
plt.title(title)
plt.ylabel('night_light values')
plt.grid()

In [481]:
month_dates = list()
month_vals = list()
for i,time_value in enumerate(time_line):
    if time_value.month == month:
        ## putting the values in list
        month_vals.append(B[i])
        
        ## highlighting all that months
        data_label = month_name[time_value.month]+str(time_value.year)[2:]
        month_dates.append(data_label)
        plt.plot(A[i],B[i],'ko',markerfacecolor='None',markeredgecolor='black',markersize=15)
        plt.annotate(data_label,xy=(A[i]+1,B[i]))
        
        ## highlighting that year
        if time_value.year == year:
            year_val = B[i]
            plt.plot(A[i],B[i],'ks',markerfacecolor='None',markeredgecolor='black',markersize=15)

In [482]:
plt.legend(['plot','dates',month_name[month]+' in all years'],numpoints = 1,loc='lower right' )

In [483]:
month_std = np.std(month_vals,ddof=1)
month_mean = np.mean(month_vals)

In [484]:
#std_year = (year_val - month_mean)/month_std

In [485]:
#plt.annotate('std: '+str(std_year) ,xy=(50,min(B)))

In [486]:
plt.savefig(file_name)

In [487]:
month_std

0.16121782656993672

In [234]:
month_dates

['jan13', 'jan14', 'jan15', 'jan16', 'jan17']

In [235]:
pd.DataFrame(month_vals,month_dates)

              0
jan13 -0.152742
jan14 -0.174566
jan15 -0.112957
jan16 -0.107144
jan17 -0.019824